.main {
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .scope {
    width: 100%;
    height: 100%;
    border: black 1px solid;
    .list {
      position: absolute;
      top: 40%;
      left: 40%;
      z-index: 20;
    }

    .astrologyCircle {
      position: absolute;
      left: 45%;
      top: 200px;
    }
    .astrologyCircleConternt {
      width: 100%;
      height: 100%;
    }

    .svitlana_goldin {
      font-size: 32px;
      width: 500px;
      padding: 40px;
    }

    .photoContent {
      width: 100%;
      height: 100%;
    }
    .photoContent1 {
      width: 100%;
      height: 100%;
    }

    .photo:hover {
      opacity: 0;
    }

    .photo1:hover {
      opacity: 0;
    }

    .originPhoto {
      .originPhotoContent {
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
    }
    .originPhoto1 {
      .originPhotoContent1 {
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
    }

    .originPhoto,
    .photo {
      position: absolute;
      bottom: 22px;
      left: 22px;
      min-width: 400px;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
    .originPhoto1,
    .photo1 {
      width: 20%;
      position: absolute;
      right: 22px;
      bottom: 22px;
      min-width: 400px;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
  }
}
